.success_message {
    text-align: center;
    margin: 150px auto;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px 1px #999;
    width: 90%;
    padding: 20px;
    border-radius: 20px;
}

.result-title {
    font-size: 2vw;
}

.result-text {
    font-size: 2vw;
    margin: 20px 0;
    font-weight: bold;
}

