{% extends "base.html" %}
{% load static %}

{% block customcss %}
    <link rel="stylesheet" href="{% static 'css/works.css' %}">
{% endblock %}

{% block content %}
    <div class="post-collect">
        <h1 class="works-title">My Works</h1>
        <div class="post-contain">
            {% for post in object_list %}
                <section class="card">
                    <img class="card-img" src="{{ post.post_image.url }}" alt="{{ post.title }}画像">
                    <div class="card-content">
                        <h1 class="card-title">{{ post.title }}</h1>
                        <p class="card-text">{{ post.content }}</p>
                    </div>
                    <hr class="works-line">
                    <div class="card-link">
                        <a href="{{ post.page_url}}" class="page-link">Run</a>
                        <a href="{{ post.git_url }}" class="git-link">Git</a>
                    </div>
                </section>
            {% endfor %}
        </div>
    </div>
{% endblock %}     

c HTML
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
